.nav{
                        background-color: black;
                         color: white;
} 


.mainContainer{
        background-color: darkblue;
 color:#FFFFF0;

}

.link{
        color: #DDA0DD;
}
.btn-PI{
        background-color:black;
        outline:white;
        color:white;
        padding:10px;
        cursor:pointer;
        text-decoration:none;
        display:flexbox
}
.btn-quem{
        background-color:black;
        outline:white;
        color:white;
        padding:10px;
        cursor:pointer;
        text-decoration:none;
        display:flexbox
}
.btn-hobbies{
        background-color:black;
        outline:white;
        color:white;
        padding:10px;
        cursor:pointer;
        text-decoration:none;
        display:flexbox
}
.btn-contato    {
        background-color:black;
        outline:white;
        color:white;
        padding:10px;
        cursor:pointer;
        text-decoration:none;
        display:flexbox
}
.rodape{
        background-color: #363636;
                 color: white;
}